{% extends "index.html" %}
{% block index %}
    <div style="margin-top:200px; ">
        <center><span style="background: #38A1F3;color: #FFF; font-size: 80px;">Group-B</span><br>
        <a style="color: palevioletred; font-size: 50px;" href="{% url 'manage' %}">Click here to Continue.</a></center>
    </div>
{% endblock %}