{% extends "index.html" %}
    {% block signin %}


            {% if messages %}
                <br>
                <div class="offset-4 col-lg-5" style="font-size:35px; background: darkcyan; color: #FFFFFF;" id="popup">
            <center><strong>{% for message in messages %}
                {{ message }}
            {% endfor %}</strong></center>
            </div>
            {% endif %}
        <script>
            setInterval(function()
            {
                document.getElementById('popup').style.visibility="hidden";
            },5000)
        </script>



      <div class="container signin-cont">
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 mt-5 signin">
                <div class="container">
                   <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 my-5 sform">
                        <div class="row">
                            <h2 class="mx-auto">Sign in to SiBS</h2>
                        
                        
                            <h4 class="mx-auto">sibsworld.slack.com </h4>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <p class="mx-auto">Enter your <strong>email address</strong> and <strong>password</strong></p>
                        
                            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
                        
                            <input type="password" class="form-control mt-3" id="password" name="password" placeholder="password">
                       
                            <button class="btn btn-success btn-block mt-3" type="submit">Sign in</button>
                            </form>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">Keep me logged in                                    </label>
                                 
                                </div>
                            <div class="col ml-2 ">
                                <a href="#" class="ml-3">Forgot password?</a>

                            </div>
                        
                    </div>
                    <div class="row mt-3 ml-4"> 
                      <div class="col">
                        New to Slack? Signup <a href="/slack/register/"> here</a>
                      </div>
                    </div>
                   </div>
                </div>
              </div>
              <div class="col-md-3"></div>
              
          </div>
      </div>
      </div>
    {% endblock %}

