{% extends "index.html" %}
{% block signup %}

      <div class="container signin-cont">
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 mt-5 signin">
                <div class="container">
                   <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 my-5 sform">
                        <div class="row">
                            <h2 class="mx-auto">Sign Up in Slack</h2>
                        
                        
                           <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="text" class="form-control mt-3" id="firstname" name="firstname" placeholder="Firstname">
                                <input type="text" class="form-control mt-3" id="lastname" name="lastname" placeholder="Lastname">
                                <input type="text" class="form-control mt-3" id="username" name="username" placeholder="Username">
                                <input type="email" class="form-control mt-3" id="email" name="email" placeholder="you@example.com">
                                <input type="password" class="form-control mt-3" id="password1" name="password1" placeholder="password">
                                <input type="password" class="form-control mt-3" id="password2" name="password2" placeholder="Confirm password">
                                <input type="file" name="file" class="form-control mt-3" id="icondemo" style="border:none;">
 

                               
                              
                               
                              
                               
                              
                           
                        
                            
                       
                            <button class="btn btn-success btn-block mt-3" type="submit">Sign Up</button>
                               </form>
                          </div>
                        
                        <div class="row mt-2" >
                           <div class="col">
                              <nav class="navbar navbar-expand-lg d-flex align-text-center " style="box-shadow: none;">
                                  <ul class="navbar-nav ml-5 icons">
                                      <!-- 
                                      -->
                                      <li class="nav-item mr-4">
                                        <a class="nav-link" href="{% url "social:begin" "google-oauth2" %}"><img src="https://img.icons8.com/color/48/000000/google-logo.png"> </i></a>
                                      </li>
                                      <li class="nav-item mr-4">
                                        <a class="nav-link" href="#"><img src="https://img.icons8.com/color/48/000000/facebook.png"></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="#"><img src="https://img.icons8.com/color/48/000000/twitter.png"></a>
                                      </li>
                                      
                                    </ul>
                                 </nav>
                           </div>
                    </div>
                  </div>
                    <div class="col-ms-2"></div>
                   </div>
                </div>
              </div>
              <div class="col-md-3"></div>
              
          </div>
      </div>

        
{% endblock %}
<!-- <script>
 
$('#icondemo').filestyle({
 
iconName : 'glyphicon glyphicon-file',
 
buttonText : 'Select File',
 
buttonName : 'btn-warning'
 
});
