
{% load staticfiles %}
{% load static %}
<!-- this is homepage for the manage members -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "searchboxStyle.css" %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'invite.css' %}">
    <link rel="stylesheet" href="{% static "sideBarstyle.css" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <style>
        #groupbtr:hover {
            background: #FBE1B5;
        }
        .icon-opacity{
            opacity: 0.8;
        }
        th {
            cursor: pointer;
        }

        @media only screen and (max-width: 992px) {
        #sidebar {
            display: none;
    }
            #flexx{
                margin-left: 4%!important;
            }
}
        @media (max-width: 425px) {
            #manageInvite, #navbar2{
                width: 125%;
            }
            #manageMember{
                width: 140%;
            }

             #flexx{
                 width: 118%;
             }

            #manageMember{
                margin-left: 10%;
                width: 140%;
            }
            #flexx{
                margin-left: 7%!important;
            }
            #inputEmail4{
                width: 45%;

            }
            #name{
                width: 45%;
                float: right;
                margin-top: -14%;
                margin-right: 5%;
            }
            .fa-times{
                float: right;
                margin-top: -15%!important;
                margin-right: -2%;
            }
        }
         @media (max-width: 375px) {
             #manageInvite, #navbar2{
                width: 145%;
            }
             #flexx{
                 width: 133%;
             }

            #manageMember{
                margin-left: 10%;
                width: 140%;
            }
            #flexx{
                margin-left: 10%!important;
            }
        }
        @media (max-width: 320px) {
             #manageInvite, #navbar2{
                width: 165%;
            }
             #flexx{
                 width: 156%;
             }

            #manageMember{
                margin-left: 10%;
                width: 140%;
            }
            #flexx{
                margin-left: 10%!important;
            }
        }
    </style>
</head>
<title>{% block title %} {% endblock %}|Slack</title>
<body>
{% include "navbar/navbar2.html" %}
<div class="container-fluid" style="padding-left:0px;">
    <div class="row" style="background: ">
        {% include "sidebar.html" %}
        <div class="offset-lg-1 col-lg-8" style="padding-left:0px; background:#F9F9F9;">
            <div class="container" style="background:#F9F9F9;" id="manageInvite">
                <br>
                <div class="row">
                    <div class="col-4"><h5 id="manageMember">Manage members <span><i class="fas fa-cloud-download-alt navbaricons icon-opacity"></i></span></h5></div>
                    <div class="col-2 offset-6">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                            Invite
                        </button>
                        {% include "modal.html" %}
                    </div>
                </div>
            </div>
            <br>
            {% include "searchbox.html" %}
            <br>
            <div class="row" style="background:#FFF;">
                {% block table %} {% endblock %}
            </div>
        </div>
    </div>
    {% include "js.html" %}
</body>
</html>
