<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr ").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    var options = [];
    $('dropdown-item label').on('click', function (event) {
        var $target = $(event.currentTarget),
            val = $target.attr('data-value'),
            $inp = $target.find('input'),
            idx;
        if ((idx = options.indexOf(val)) > -1) {
            options.splice(idx, 1);
            setTimeout(function () {
                $inp.prop('checked', false)
            }, 0);
        } else {
            options.push(val);
            setTimeout(function () {
                $inp.prop('checked', true)
            }, 0);
        }
        $(event.target).blur();
        console.log(options);
        return false;
    });

    $(document).ready(function () {
        $('input[name="filters"]').on("change", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable .filtered").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    function searchs(a) {
        if (a.checked) {
            n = document.getElementsByClassName("filter");
            for (var i = 0, l = n.length; i < l; ++i) {
                if (n[i].checked) {
                    n[i].checked = false;
                    break;
                }
            }
            a.checked = true;
        }
    }
</script>
<script>
    function sortTable(table, col, reverse) {
        var tb = table.tBodies[0],
            tr = Array.prototype.slice.call(tb.rows, 0), i;
        reverse = -((+reverse) || -1);
        tr = tr.sort(function (a, b) {
            return reverse
                * (a.cells[col].textContent.trim()
                        .localeCompare(b.cells[col].textContent.trim())
                );
        });
        for (i = 0; i < tr.length; ++i) tb.appendChild(tr[i]);
    }

    function makeSortable(table) {
        var th = table.tHead, i;
        th && (th = th.rows[0]) && (th = th.cells);
        if (th) i = th.length;
        else return;
        while (--i >= 0) (function (i) {
            var dir = 1;
            th[i].addEventListener('click', function () {
                sortTable(table, i, (dir = 1 - dir))
            });
        }(i));
    }

    function makeAllSortable(parent) {
        parent = parent || document.body;
        var t = parent.getElementsByTagName('table'), i = t.length;
        while (--i >= 0) makeSortable(t[i]);
    }

    window.onload = function () {
        makeAllSortable();
    };
</script>
