<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl   " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Invite</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="maincontainer">
                    <div class="childcontainer">
                        <div class="container">
                            <div class="row justify-content-center"
                                 style="text-align: center;" id="toptxt">
                                <div class="col-md-auto">
                                                                <span><i class="fa fa-user-plus" aria-hidden="true"></i>Workspaces with paid plans can also invite <strong>guests</strong>, like contractors, vendors, or clients. <a
                                                                        href="#" style="color: #1264a3"> See pricing plans </a></span>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="iconcontainer col"
                                     style="display: table-cell; text-align:center; margin-top: 10px;">
                                    <i class="far fa-paper-plane fa-2x"
                                       style="color:blue"></i>
                                </div>
                            </div>
                            <div class="row text-center heardertxt">
                                <div class="col">
                                    <h3 style="font-weight: 100;">Invite members to</h3>
                                    <span><strong> insight Workshop </strong></span>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-5">
                                    <label>Email Address</label>
                                </div>
                                <div class="col-md-5">
                                    <label>Full Name(Optional)</label>
                                </div>
                                <div class="col-md-auto">
                                </div>
                            </div>
                            <form action="{% url 'sendInvitation' %}" method="post">
                                {% csrf_token %}
                                <div id="container">
                                    <div class="form-row justify-content-center">
                                        <div class="modalform-group form-group col-md-5">
                                            <input type="email" name="email"
                                                   class="modalinput form-control"
                                                   placeholder="name@example.com"
                                                   id="inputEmail4">
                                        </div>
                                        <div class="modalform-group form-group col-md-5">
                                            <input type="text" class="modalinput form-control"
                                                   placeholder="Optional" id="name">
                                        </div>
                                        <div class="form-group col-md-auto">
                                            <i class="fas fa-times nondelete"
                                               style="height: 12px; width:12px; margin-top: 7px; color:red;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-5">
                                        <a href="#" id="add" style="color: #1264a3;"><i class="fa fa-plus-circle" aria-hidden="true"></i>
 Add
                                            another</a>
                                        or
                                        <a href="#" style="color: #1264a3;" id="addmore">add
                                            many at once</a>
                                    </div>
                                    <div class="col-md-5" style="text-align: right;">
                                        <span style="color: #616061!important;"><i class="fa fa-google" aria-hidden="true"></i> Connect <u>Google Contacts</u> </span>
                                    </div>
                                    <div class="col-md-auto">
                                    </div>
                                </div>
                                <div class="row justify-content-center"
                                     style="margin-top: 38px; text-align: left;">
                                    <div class="col-md-7">
                                        <p><strong>Default Channels</strong></p>
                                        <p style="color: #616061!important;">New
                                            <strong>members</strong> will automatically join
                                            <strong>general</strong> and <strong>random</strong>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-auto">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-5" style="margin-top: 35px;">
                                        <a href="#" style="color: #1264a3"><i class="fa fa-link" aria-hidden="true"></i>
Get
                                            an invite link to share</a>
                                    </div>
                                    <div class="col-md-auto">
                                    </div>
                                    <div class="col-md-5"
                                         style="text-align: right; margin-top: 22px;">
                                        <button id="submitbtn">Send Invitations</button>
                                    </div>
                                </div>
                                <hr style="width: 670px;">
                        </div>
                    </div>
                    <script>
                        $('#add').click(function () {
                            $('#container').after('<div class="form-row justify-content-center"><div class="modalform-group form-group col-md-5"><input type="email" name="email"  class="modalinput form-control" placeholder="name@example.com" id="inputEmail4"></div><div class="modalform-group form-group col-md-5"><input type="text" class="modalinput form-control" placeholder="Optional" id="name"></div><div class="modalform-group form-group col-md-auto"><i class="fas fa-times delete" style="height: 12px; width:12px; margin-top: 7px; color:red;"></i></div></div>');
                            //the above method will add the form-row div
                        });
                        $('#addmore').click(function () {
                            $('#container').after('<div class="form-row justify-content-center"><div class="modalform-group form-group col-md-5"><input type="email" name="email"  class="modalinput form-control" placeholder="name@example.com" id="inputEmail4"></div><div class="modalform-group form-group col-md-5"><input type="text" class="modalinput form-control" placeholder="Optional" id="name"></div><div class="form-group col-md-auto"><i class="fas fa-times delete" style="height: 12px; width:12px; margin-top: 7px; color:red;"></i></div></div> <div class=" mt-1 form-row justify-content-center"><div class="modalform-group form-group col-md-5"><input type="email" name="email"  class="modalinput form-control" placeholder="name@example.com" id="inputEmail4"></div><div class="modalform-group form-group col-md-5"><input type="text" class="modalinput form-control" placeholder="Optional" id="name"></div><div class="modalform-group form-group col-md-auto"><i class="fas fa-times delete" style="height: 12px; width:12px; margin-top: 7px; color:red;"></i></div></div>')
                        });
                        $("body").on("click", ".delete", function (e) {
                            $(this).parents('.form-row').remove();
                            //the above method will remove the user_data div
                        });
                        $('.cross').on('mouseenter mouseleave', function (e) {
                            $(this).parent().css('background-color:#FFD7DA');
                        });
                    </script>
                </div>
                <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close-->
                <!--</button>-->
            </div>
            </form>
        </div>
    </div>
</div>
