<!-- this page is included as sidebar of base.html page. Just the block is separated.. -->

<div class=" col-lg-2" id="sidebar">
				<div class="bg-light" id="sidebar-wrapper">
					<div class="row sidebar-heading">
						<div style="width: 40%; ">
							<img src="media/{{user_pic.image }}" style="width: 50px; height: 60px;">
						</div>
                           <div style="width: 60%; float: right; margin-left: -10px;">
							   <span style="font-size: 12px;">signed in as {{ user_pic.user|title }}<a href="{% url 'logout' %}"> Signout</a></span>
						   </div>
					</div>
					<div class="list-group list-group-flush">
						<small class="groupb-side-head">ACCOUNT	</small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-arrow-left icon-opacity"></i> Back to slack</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-fw fa-home icon-opacity"></i> Home</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-fw fa-user icon-opacity"></i> Account & profile</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-plug icon-opacity"></i> Configure apps</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="far fa-clock icon-opacity"></i> Analytics</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-magic icon-opacity"></i> Customize</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-info-circle icon-opacity"></i> About this workspace</a></small>
						<br>
						<small class="groupb-side-head">ADMINISTRATION</small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-cog icon-opacity"></i> Settings & permissions</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tasks icon-opacity"></i> Manage members</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-users icon-opacity"></i> User groups</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-user-plus icon-opacity"></i> Invitations</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-credit-card-alt icon-opacity" aria-hidden="true"></i> Billing</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-key icon-opacity"></i> Authentication</a></small>
						<br>
						<small class="groupb-side-head">OTHER</small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light">Tour</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light">Download apps</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light">Brand guidelines</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light">Help</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light">API</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light">Gateways</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light">Pricing</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light">Contact</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light">Policies</a></small>
						<small><a href="#" class="list-group-item list-group-item-action bg-light">Our blog</a></small>
					</div>
				</div>
			</div>
