{% load static %}
<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
        <a class="navbar-brand" href="#"><img src="{% static "images/logo1.png" %}" style="width: 70%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="#">Product</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link" href="#">Support</a>
            <a class="nav-item nav-link" href="#">Create a new team</a>
            <a class="nav-item nav-link" href="#">Find your team</a>
            <a href="/slack/signin"><button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Sign in</button></a>
          </div>
        </div>
      </nav>