{% load static %}
{% block nav2 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light " id="navbar2">
		<a class="navbar-brand" href="/slack/">
			<i class="fas fa-home"></i>
			<!--<img src="{% static 'images/logo1.png' %}" id="logo" style="height:34px; width:34px;">&nbsp;&nbsp;&nbsp;-->
			insightworkshop
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse ml-auto" id="navbarTogglerDemo02">

			<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<center>
					<i class="fa fa-rocket"></i>
					<a class="nav-link" style="padding-top:2px;">Plans</a>
				</center>
			</li>
			<li class="nav-item">
				<center><i class="fa fa-qrcode"></i></center>
				<a class="nav-link"  style="padding-top:2px;">Workspaces</a>
			</li>
			<li class="nav-item">
				<center><i class="fa fa-gg-circle"></i>
				<a class="nav-link" style="padding-top:2px;">Help</a></center>
			</li>
			<li class="nav-item">
			<center>
			<i class="fa fa-slack"></i>
				<a class="nav-link " href="#" style="padding-top:2px;">Launch</a></center>
			</li>
		</ul>
		</div>
	</nav>
{% endblock %}
