{% extends "base.html" %}
{% block title %}Manage members{% endblock %}
{% block table %}<br>
    <table class="table offset-lg-1 col-lg-12 "  style="margin-left: 15px;">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Account type</th>
                <th >Billing status</th>
                <th >Authentication</th>
                <th>...</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for each in users_data %}
                <tr id="groupbtr" >
                    <td><img src="media/{{each.image }}" style="height: 25px; width: 25px;" alt="No image uploaded"></td>
                    <td class="status"><strong>{{ each.user.first_name|title }}</strong><br>{{ each.user.first_name|title }} - {{ each.user.email }}</td>
                    <td class="statusAT">{{ each.account_type.type }}</td>
                    <td class="status">{{ each.billing_status }} </td>
{#                    {% if user_pic.account_type.type == "Owner" or user_pic.account_type.type == "Admin" %}#}
                        <td>Default</td>
                        <td><div class="dropdown">
                            <a  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                ...
                            </a>
                            {% if each.account_type_id == 5%}

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/slack/update/{{ each.user_id }}/?type=3 ">activate</a>

                            </div>
                            {% endif %}
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for types in account_type %}
                                <a class="dropdown-item" href="/slack/update/{{ each.user_id }}/?type={{ types.id }}">Change to {{ types.type }}</a>
                                {% endfor %}
                            </div>
                        </div></td>

{#                    {% else %}#}
                        <!-- <td>Default</td>
                            <td>
                                <div class="dropdown">
                                <a  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ...
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="##">Change to </a>
                                </div>
                                </div>
                            </td>-->
{#                    {% endif %}#}

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
   /* $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
``
            // loop to hide all the elements that dont match the search
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


        $(document).ready(function () {

        $("#reset").click(function () {
            $("tbody tr").show();
            $("input:checkbox:checked").prop("checked", false);
        });
        $("input:checkbox").on("change", function () {
            var a = $("input:checkbox:checked").map(function () {
                return $(this).val()
            })
            $("tbody tr").hide();
            var filters = $(".status").filter(function () {
                var status = $(this).text(),
                    index = $.inArray(status, a);
                return index >= 0
            }).parent().show();
        })
    });*/
   $(document).ready(function()
{
  $('input[name="filters"]').on("change", function()
  {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function()
	{
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
        </script>




{% endblock %}
