.modalbody {
    color: #1d1c1d;
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
}

.modalinput {
    border: 1px solid #868686;
    outline: 0;
    color: #1d1c1d;
}

.heardertxt {
    font-size: 33px;
    line-height: 5px;
    margin-bottom: 50px;
    font-size: 2rem;
}

.maincontainer {
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10vh;
    font-family: sans-serif;
}

.childcontainer {
    width: 790px;
    max-width: 100%;
    padding-bottom: 3px;
    margin: auto;
}

.iconcontainer {
    margin-bottom: 40px;
}

@media screen and (max-width: 640px) {
    .maincontainer, .childcontainer {
        max-width: 100%;
    }
}

#submitbtn {
    font-weight: 600;
    font-size: 15px;
    float: right;
    height: 50px;
    padding: 14px 32px 16px;
    background: #007a5a;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    border: none;
    border-radius: .25rem;
    box-shadow: none;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    white-space: nowrap;
    margin: 0;
}

.modalform-group {
    padding-top: 3px;
    vertical-align: center;
}

#toptxt {
    border: 2px solid #50C3FE;
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    width: 95%;
    color: #616061;
    margin-bottom: 5px;
}

.cross:hover ~ .from-group {
    background-color: #FFD7DA;
}

