@font-face{
    font-family: slackFont;
    src: url(fonts/lineto-circular-pro-book.woff);
}
nav a{
    color: #222222;
    font-weight: 200;
    
}

nav{
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.signin{
    -webkit-box-shadow: 0 0 10px #999;
    -moz-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}
body{
    font-family: slackFont;
    background-color:#F9F9F9;
}
.signin{
    background-color:white;
}
.sform{
    text-align: center;
}
.fp{
    text-align: center;
}
.socialmedia{
    text-align: center;
}

.icons li a .fa-google:hover{
    color: blue;

}
.icons li a .fa-facebook-f:hover{
    color:#4267b2;

}
.icons li a .fa-twitter:hover{
    color:#38A1F3;

}
.fa-user-plus, .fa-paper-plane-o{
    color: #0098D2;
}
.headInvite{
    background-color: #F2F9FD;
}
.invite h2:hover{
    text-decoration: none!important;
}
.invite h2{
    color: #242324;
    
}



/* .form-container{
    padding:10px;
    padding-bottom:25px;
    margin:0 auto;
    margin-top:20px;
    width:50%;
    border-radius:20px;
    background-color: #ececec;
  }
  
  .add-one{
    color:green;
    text-align:center;
    font-weigth:bolder;
    cursor:pointer;
    margin-top:10px;
  }
  
  .delete{
    color:white;
    background-color:rgb(231, 76, 60);
    text-align:center;
    margin-top:6px;
    font-weight:700;
    border-radius:5px;
    min-width:20px;
    cursor:pointer;
  }
  
  #singlebutton{
    width:100%;
    margin-top:20px;
  }
  
  .title{
    text-align:center;
    font-size:40px;
    margin-bottom:40px;
  }
  
  .dynamic-element{
    margin-bottom:0px;
  }
 a:hover{
      text-decoration: none;
  } */

  .entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}