
.sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper{
	border:none;
	padding:0px;
}

.list-group-item{
	border:none;
	padding-top:1.9px;
	padding-bottom:0px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

 
}
.groupb-side-head{
	padding-left:10px;
}



* {
  box-sizing: border-box;
}
